body{
    background-size: auto;
    background-image: linear-gradient(to right bottom,#880d74,#86389c,#7858c2,#5b76e3,#0092ff);
    background-repeat: no-repeat;
    height: 150vh;
    font-family: 'Comic Sans MS', cursive;
    
}
.navbar ul{
    list-style-type: none;
    margin: 0%;
    padding: 0;
    overflow: hidden;
}
li{
    margin: 0%;
   
    display: inline;
    float: left;
}
li a{
    display: block;
  color: hsl(0, 100%, 99%);
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  background-color: black;
  border-radius: 8px;
  
  letter-spacing: 3px;

}
.two{
    letter-spacing: 5px;
    font-size: 20px;
    color: black;
    background-color: white;
    border-radius: 20px;
    padding: 5px;

    

}
.container{
    
    width: 400px;
    height: 500px;
    margin-left: 500px;
    border-radius: 10px;
    box-shadow: #050505;
}
.container h2{
    text-align: center;
}
.container .form_input{
   border-radius: 5px;
   width: 500px;
   font-size: 30px;
}
.form_label{
    font-size: 20px;
}
.submitbtn{
    font-size: 15px;
    background-color: black;
    border-radius: 10px;
    letter-spacing: 5px;
    outline-color: black;
    color:white;
    padding: 10px;
}